<div class="main">
	<div class="extra span2">  <!-- cell -->
		<div div="cell-content">
			<div>
			<h1>Error</h1>
			OOps... there is <span class="error-status">{{content.j.vs.view.status}}</span> network error on the previous request.

			</div>
		</div>
		<div></div>
	</div>


	<div class="extra span2">  <!-- cell -->
		<div div="cell-content"> <div>
			<h2>Others Links</h2>
			<ul>
				<li><a ng-href="/about">About page</a></li>
				<li><a ng-href="/help">Help page</a></li>
				<li><a ng-href="/home">Home page</a></li>
				<li><a ng-href="/nowhere">nowhere page</a></li>
				<li ng-click="content.demo() ">change title</li>
			</ul>
		</div> </div>
		<div></div>
	</div>

</div> <!-- main --> 

