
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
	<button type="button" data-toggle="collapse" data-target="#topbar-options">
		<span>Menu navigation</span> <i /> <i /> <i />
	</button>
	<a href="/">Trainbuddy</a>
</div>

<div id="topbar-options">
	<ul user-menu />
	<ul>
		<li class="home" title="home">
			<a data-toggle="dropdown" role="button" aria-expanded="false"> <span>Home pages</span> <i/> <i/> </a>
			<ul class="dropdown-menu" role="menu">
				<li><a ng-href="/">Home</a></li>
				<li class="divider"></li>
				<li><a ng-href="/about">About</a></li>
				<li><a ng-href="/help">Help</a></li>
				<li><a ng-href="/contact">Contact</a></li>
			</ul>
		</li>
	</ul>
	
</div><!-- /.navbar-collapse -->






