<li class="divider"></li>
<li class="mail" title="mail">
	<a data-toggle="dropdown" role="button" aria-expanded="false"> <span>Mail pages</span> <i/> <i/> </a>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-href="/">Compose</a></li>
		<li class="divider"></li>
		<li><a ng-href="/">Unread</a></li>
		<li><a ng-href="/">All</a></li>
		<li><a ng-href="/">Own</a></li>
	</ul>
</li>

<li class="friend" title="friends">
	<a data-toggle="dropdown" role="button" aria-expanded="false"> <span>Friend pages</span> <i/> <i/> </a>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-href="/">Friends</a></li>
		<li class="divider"></li>
		<li><a ng-href="/">Approvals</a></li>
		<li><a ng-href="/">Requested</a></li>
		<li><a ng-href="/">Blocked</a></li>
		<li class="divider"></li>
		<li><a ng-href="/">Suggest</a></li>
		<li class="divider"></li>
		<li><a ng-href="/">Search</a></li>
	</ul>
</li>

<li class="setting" title="setting">
	<a data-toggle="dropdown" role="button" aria-expanded="false"> <span>Setting pages</span> <i/> <i/> </a>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-href="/">Profile</a></li>
		<li><a ng-href="/">Setting</a></li>
		<li class="divider"></li>
		<li><a ng-href="/">Logout</a></li>
	</ul>
</li>
