<div class="cell" ng-repeat="chat in content.j.vs.view.data.paginate.pack" >
	<div ng-attr-id="paginate_{{chat.id}}"> <!-- cell-content -->

		<div class="canvas">
			<div class="chat-summary"> <a class="canvas-toggle"><i></i></a>
				<ul> <li ng-repeat="tag in chat.display.split(',')">{{tag}}</li> </ul>
				<hr class="gap10-20">
				<a ng-href="/chats/{{chat.id}}"> 
					<div class="msg summary" ng-if="chat.extra.message"  msg='chat.extra.message' read="chat.extra.read"></div>
					<div class="msg summary" ng-if="!chat.extra.message">No message yet</div>
				</a>
			</div>

			<aside> <a class="canvas-toggle">x</a> <div>
				<ul class="aside-select">

 					<li ng-hide="chat.extra.read">
 						<a ng-method="patch"
 						ng-href="/messages/{{chat.extra.message.id}}?chat={{chat.id}}&type={{chats.listType(chats.j.vs.view.data.paginate.path)}}">Mark as Read</a>
 					</li>

					<li>
						<a ng-method="delete" ng-href="{{chats.list_path(chat.id)}}">
							<div ng-if="chats.ownChat(chat.user)">Close All Chats</div>
							<div ng-if="!chats.ownChat(chat.user)">Quit Chat</div>
						</a>
					</li>
				</ul>
			</div> </aside>
		</div>

	</div>

<div></div> </div> 
