<div class="main">

	<div class="extra span2">  <!-- cell -->
		<div div="cell-content"> <div>
			<h2>Home</h2>
			content = {{content.j.vs.view}}
		</div> </div>
		<div></div>
	</div>


	<div class="extra span2">  <!-- cell -->
		<div div="cell-content"> <div>
			<h2>Links</h2>
			<ul>
				<li><a ng-href="/about">About page</a></li>
				<li><a ng-href="/help">Help page</a></li>
				<li><a ng-href="/home">Home page</a></li>
				<li><a ng-href="/contact">Contact page</a></li>
			</ul>
		</div> </div>
		<div></div>
	</div>


	<div>
		<div>About</div>
		<div></div>
	</div>

	<div> <!-- cell -->

		<div class="cell-content">
			<div class="canvas">
				
				<div>
					<a class="canvas-toggle"><i></i></a>
					content 1 this is a long long content 1 with some data and a long ong lines ...
					content 1 this is a long long content 1 with some data and a long ong lines ...
					content 1 this is a long long content 1 with some data and a long ong lines ...
				</div>

				<aside>
					<a class="canvas-toggle">x</a>
					<div><a>normal link</a></div>
				</aside>
			</div>
		</div>

		<div></div>
	</div> <!-- cell --> 


	<div>
		<div>cell 3</div>
		<div></div>
	</div>		
	

	<div> <!-- cell -->

		<div class="cell-content">
			<div class="canvas">
				
				<div class="content">
					<a class="canvas-toggle"><i></i></a>
					content 2 this is a long long contedfnt 2 with some data and a long ong lines. 
					content 2 this is a long long content 2with some data and a long ong lines.
					content 2 this is a long long content 2with some data and a long ong lines. thalhdlkfjlakdfjlkadsjflskdjfi sd fsd fsd
				</div>

				<aside>
					<a class="canvas-toggle">x</a>
					<div>
						<a>this is a link</a>
						this is text in aside
					</div>
				</aside>
			</div>
		</div>

		<div></div>
	</div> <!-- cell --> 



</div> <!-- main -->
