<nav class="topbar"><div topbar /></nav>

<div class="container">
	<!-- <ng-view /> -->
	<div class="main">
		<!-- <div class="span2">span2</div>
		<div class="span2 blue">span2</div> -->

		<div>
			<div test>test</div>
			<div></div>
		</div>

		<div> <!-- cell -->

			<div class="cell-content">
				<div class="canvas">
					<a class="canvas-toggle"><i></i></a>
					<div class="content">
						content 1 this is a long long content 1 with some data and a long ong lines ...
						content 1 this is a long long content 1 with some data and a long ong lines ...
						content 1 this is a long long content 1 with some data and a long ong lines ...
					</div>

					<aside>
						aside 1
					</aside>
				</div>
			</div>

			<div></div>
		</div> <!-- cell --> 


		<div>
			<div>cell 3</div>
			<div></div>
		</div>		
		




	</div> <!-- main -->
</div> <!-- container -->
